* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Blinker; 
}

body {
    background-image: url("images/orange bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    place-items: center;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
}

.form-container h2 {
    color: orange;
    font-size: 28px;
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f6f6f6;
    color: #333;
    text-align: center;
}

.form-container input[type="text"]::placeholder,
.form-container input[type="password"]::placeholder,
.form-container input[type="email"]::placeholder {
    color: #999;
}

.form-container input[type="submit"] {
    background-color: orange;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #ff9800;
}

.form-container .switch-form {
    color: black;
    cursor: pointer;
    font-size: 14px;
}

.marked {
    color: orange;
    background: white;
}

.switch-form {
    padding-top: 15px;
}

@media only screen and (max-width: 280px) {
    .form-container {
        max-width: 250px;
    }
  }