@import 'https://fonts.googleapis.com/css?family=Blinker';

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration:none;
    box-sizing: border-box;
    font-family: Blinker;    
    -webkit-tap-highlight-color: transparent;
}

body{
    background-color: white;
    margin-left: 76.8px;
}

::selection{
    color: #ff6900;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eeeceb;
    width: 4.8em;
    overflow: hidden;
    animation: fadeInRight 1.1s ;
    transition: width 0.3s linear;
}

@keyframes fadeInRight {
    from {left: -4.8em;}
    to {left: 0;}
  }

nav:hover{
    width: 14em;
    transition: all 0.5s ease;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

.nav-item{
    position: relative;
    top: -1.6em;
    margin-left: 4.5em;
    white-space: nowrap;
    font-size: 18px;
}

.logo{
    width: 36px;
    height: 36px;
    text-align: center;
    display: flex;
    top: 14px;
    margin-left: 0.8em;
    transition: all 0.1s ease-in-out;
}

.logo-a{
    position: relative;
    color: dimgray;
    width: 300px;
    padding: 15px; 
}

.xiaomi-div{
    width: 55px;
    height: 55px;
    margin-top: 0em;
    margin-left: 0.5em;
    overflow: hidden;
    border-radius: 1.2em;
    scale: 80%;
    
}

.xiaomi-logo{
    background-color: #ff6900;
    transform: translateX(-50%); 
    transition: transform 0.3s ease;
}

.xiaomi-div:hover .xiaomi-logo {
    transform: translateX(0%);
}



.xlogo{
    position: relative;
    font-weight: bold;
    color: black;
    font-size: 20px;
    top: -2em;
    margin-left: 4.5em;
    transition: 0.2s ease;   
}

.xlogo:hover{
    color:  #ff6900;
}



.list-a{
    position: relative;
    color: dimgray;
    width: 300px;
    padding: 15px;    
}

.list{
    margin: 0.5em;
    transition: transform 0.3s ease-in-out;
}


li:focus,li:active{
    color: #ff6900;
}

.list:hover{
    background-color: #ff6a0033;
    border-radius: 4em;
    transform: scale(1.03);
}

.list:hover span{
    color:  #ff6900;
    font-size: 18px;     
}

.searchbar{
    position: relative;
    top: -1.7em;
    margin-left: 4.5em;
    white-space: nowrap;
    font-size: 16px;
    width: 120px;
    height: 20px;
    border-radius: 2em;
}

input[type=text] {
    text-align: center;
}

::placeholder{
    text-align: center;
}


/*<---------------------------------------------------------------------->*/

@media screen and (max-height: 692px) {
    body {
        margin-left: 0px;
    }

    .navbar{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin-left: 0px;
    }

    .navbar{
        display: none;
    }
}

/*<---------------------------------------------------------------------->*/