* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Blinker;    
    -webkit-tap-highlight-color: transparent;
    /*border: 1px dotted red !important;*/

}

body{
    background-size: cover ;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1234%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M648.375%2c769.55C740.021%2c766.493%2c820.762%2c714.552%2c867.261%2c635.519C914.486%2c555.253%2c925.204%2c456.827%2c880.405%2c375.182C833.957%2c290.533%2c744.888%2c239.44%2c648.375%2c236.608C546.477%2c233.618%2c443.49%2c273.15%2c391.496%2c360.836C338.581%2c450.075%2c347.441%2c563.175%2c402.648%2c651.015C454.515%2c733.539%2c550.959%2c772.799%2c648.375%2c769.55' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M142.639%2c293.405C212.895%2c297.425%2c281.102%2c261.836%2c316.641%2c201.099C352.518%2c139.785%2c352.457%2c61.352%2c312.979%2c2.293C277.022%2c-51.498%2c207.304%2c-61.407%2c142.639%2c-59.208C82.714%2c-57.17%2c21.673%2c-38.435%2c-8.753%2c13.232C-39.568%2c65.559%2c-28.851%2c129.557%2c0.017%2c182.982C30.652%2c239.676%2c78.303%2c289.724%2c142.639%2c293.405' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M116.707%2c902.133C173.066%2c900.07%2c220.195%2c864.023%2c248.502%2c815.245C276.935%2c766.251%2c287.068%2c706.206%2c258.947%2c657.032C230.652%2c607.555%2c173.697%2c585.641%2c116.707%2c584.786C57.95%2c583.904%2c-2.103%2c602.74%2c-33.123%2c652.649C-65.731%2c705.112%2c-64.738%2c772.594%2c-32.935%2c825.549C-2.015%2c877.035%2c56.69%2c904.33%2c116.707%2c902.133' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M682.217%2c283.26C717.58%2c284.376%2c757.743%2c285.71%2c777.533%2c256.382C798.998%2c224.572%2c792.604%2c181.923%2c772.764%2c149.074C753.614%2c117.366%2c719.248%2c97.663%2c682.217%2c98.566C646.643%2c99.433%2c616.432%2c122.283%2c599.006%2c153.309C581.967%2c183.646%2c578.019%2c221.375%2c596.782%2c250.677C614.398%2c278.188%2c649.565%2c282.229%2c682.217%2c283.26' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M404.018%2c1107.154C489.217%2c1109.104%2c586.125%2c1106.778%2c631.208%2c1034.458C677.978%2c959.433%2c652.703%2c861.476%2c602.562%2c788.661C558.87%2c725.211%2c481.055%2c704.959%2c404.018%2c704.532C326.014%2c704.099%2c244.409%2c721.213%2c201.623%2c786.437C154.958%2c857.575%2c148.749%2c952.507%2c194.154%2c1024.456C237.163%2c1092.609%2c323.45%2c1105.31%2c404.018%2c1107.154' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M576.377%2c1169.786C627.053%2c1167.653%2c673.772%2c1141.894%2c698.695%2c1097.719C723.2%2c1054.286%2c719.916%2c1001.801%2c695.772%2c958.166C670.767%2c912.975%2c627.965%2c879.137%2c576.377%2c876.657C520.333%2c873.962%2c464.498%2c897.734%2c435.289%2c945.641C404.939%2c995.418%2c403.764%2c1059.487%2c434.821%2c1108.826C464.153%2c1155.426%2c521.363%2c1172.102%2c576.377%2c1169.786' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1962.186%2c1465.637C2074.826%2c1462.733%2c2149.983%2c1361.919%2c2203.798%2c1262.924C2254.559%2c1169.545%2c2283.848%2c1060.395%2c2233.305%2c966.898C2180.587%2c869.378%2c2072.995%2c819.257%2c1962.186%2c815.979C1844.717%2c812.504%2c1720.311%2c848.082%2c1661.78%2c949.989C1603.421%2c1051.597%2c1639.007%2c1174.716%2c1697.991%2c1275.962C1756.481%2c1376.361%2c1846.031%2c1468.631%2c1962.186%2c1465.637' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1158.595%2c945.593C1254.653%2c948.071%2c1347.689%2c904.779%2c1397.92%2c822.864C1450.454%2c737.193%2c1460.851%2c626.077%2c1406.268%2c541.696C1355.212%2c462.769%2c1252.509%2c448.839%2c1158.595%2c452.892C1073.172%2c456.579%2c989.96%2c488.628%2c945.377%2c561.588C898.895%2c637.656%2c896.469%2c733.107%2c939.743%2c811.044C984.298%2c891.287%2c1066.843%2c943.226%2c1158.595%2c945.593' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1289.216%2c433.456C1387.917%2c441.935%2c1502.095%2c427.547%2c1550.719%2c341.236C1598.855%2c255.791%2c1546.571%2c154.689%2c1492.264%2c73.027C1445.09%2c2.091%2c1374.392%2c-53.512%2c1289.216%2c-51.994C1206.306%2c-50.516%2c1138.134%2c7.304%2c1098.33%2c80.049C1060.243%2c149.657%2c1057.746%2c232.311%2c1095.455%2c302.125C1135.198%2c375.705%2c1205.896%2c426.298%2c1289.216%2c433.456' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M107.882%2c872.545C146.583%2c872.975%2c189.957%2c868.255%2c209.428%2c834.806C228.975%2c801.227%2c212.757%2c760.475%2c192.372%2c727.398C173.23%2c696.338%2c144.365%2c670.457%2c107.882%2c670.036C70.757%2c669.607%2c39.069%2c693.585%2c19.941%2c725.406C0.13%2c758.364%2c-9.562%2c799.587%2c10.166%2c832.595C29.515%2c864.969%2c70.169%2c872.126%2c107.882%2c872.545' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1818.841%2c1073.805C1872.745%2c1072.923%2c1928.448%2c1057.382%2c1956.096%2c1011.1C1984.344%2c963.814%2c1974.754%2c905.426%2c1948.28%2c857.124C1920.562%2c806.552%2c1876.481%2c762.548%2c1818.841%2c760.676C1758.401%2c758.713%2c1703.899%2c795.669%2c1673.971%2c848.216C1644.354%2c900.217%2c1641.245%2c965.366%2c1673.582%2c1015.721C1703.783%2c1062.75%2c1762.957%2c1074.719%2c1818.841%2c1073.805' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1234'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
/*background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1149%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M1615.122%2c357.079C1658.109%2c357.871%2c1707.778%2c356.46%2c1729.373%2c319.283C1751.021%2c282.013%2c1729.159%2c237.19%2c1705.801%2c200.967C1684.87%2c168.506%2c1653.74%2c141.402%2c1615.122%2c142.102C1577.484%2c142.785%2c1549.784%2c172.151%2c1529.967%2c204.156C1508.674%2c238.544%2c1488.263%2c279.865%2c1507.94%2c315.202C1527.941%2c351.121%2c1574.017%2c356.321%2c1615.122%2c357.079' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1662.765%2c1245.942C1743.054%2c1241.608%2c1798.443%2c1172.382%2c1834.547%2c1100.538C1866.495%2c1036.965%2c1867.971%2c964.911%2c1835.913%2c901.393C1799.947%2c830.131%2c1742.536%2c763.085%2c1662.765%2c760.178C1579.093%2c757.129%2c1507.981%2c815.315%2c1466.284%2c887.922C1424.771%2c960.207%2c1415.447%2c1047.919%2c1455.551%2c1120.995C1497.141%2c1196.78%2c1576.444%2c1250.601%2c1662.765%2c1245.942' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1461.659%2c25.562C1489.047%2c25.552%2c1510.281%2c4.736%2c1524.103%2c-18.908C1538.086%2c-42.828%2c1545.481%2c-71.392%2c1532.713%2c-95.982C1519.024%2c-122.347%2c1491.357%2c-138.449%2c1461.659%2c-139.171C1430.642%2c-139.925%2c1398.669%2c-127.117%2c1384.362%2c-99.587C1370.841%2c-73.571%2c1383.728%2c-43.806%2c1399.135%2c-18.861C1413.535%2c4.453%2c1434.257%2c25.572%2c1461.659%2c25.562' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M791.713%2c855.646C885.587%2c856.061%2c985.048%2c834.882%2c1034.459%2c755.063C1086.032%2c671.752%2c1073.875%2c565.135%2c1023.619%2c481.023C974.7%2c399.149%2c887.012%2c344.982%2c791.713%2c348.784C702.012%2c352.363%2c635.49%2c421.063%2c589.786%2c498.33C542.987%2c577.448%2c507.431%2c672.905%2c552.657%2c752.933C598.391%2c833.86%2c698.758%2c855.235%2c791.713%2c855.646' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1124.262%2c874.068C1187.584%2c874.127%2c1242.258%2c832.342%2c1272.296%2c776.598C1300.794%2c723.711%2c1298.816%2c659.695%2c1267.356%2c608.515C1237.324%2c559.657%2c1181.591%2c534.217%2c1124.262%2c535.769C1069.637%2c537.248%2c1022.559%2c569.336%2c993.987%2c615.916C963.849%2c665.048%2c950.739%2c724.863%2c976.707%2c776.321C1005.196%2c832.774%2c1061.028%2c874.009%2c1124.262%2c874.068' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M367.317%2c505.72C465.667%2c504.491%2c566.752%2c475.645%2c617.861%2c391.608C670.73%2c304.676%2c663.146%2c193.6%2c609.848%2c106.931C558.978%2c24.21%2c464.423%2c-16.819%2c367.317%2c-15.805C272.109%2c-14.811%2c184.286%2c31.43%2c133.405%2c111.907C78.527%2c198.707%2c53.245%2c309.715%2c105.688%2c398.008C157.309%2c484.916%2c266.242%2c506.983%2c367.317%2c505.72' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M100.951%2c1156.141C192.677%2c1154.895%2c275.009%2c1104.837%2c322.503%2c1026.355C371.875%2c944.77%2c388.903%2c842.303%2c340.645%2c760.054C292.865%2c678.62%2c195.123%2c641.97%2c100.951%2c648.753C17.415%2c654.77%2c-42.212%2c719.099%2c-85.572%2c790.753C-131.082%2c865.96%2c-171.248%2c954.227%2c-131.281%2c1032.521C-88.547%2c1116.235%2c6.969%2c1157.418%2c100.951%2c1156.141' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1051.601%2c815.858C1094.38%2c817.995%2c1137.787%2c800.596%2c1159.553%2c763.707C1181.63%2c726.292%2c1176.46%2c679.449%2c1154.048%2c642.233C1132.37%2c606.234%2c1093.622%2c584.13%2c1051.601%2c584.445C1010.12%2c584.756%2c971.375%2c607.187%2c951.779%2c643.748C933.145%2c678.513%2c941.05%2c719.662%2c960.84%2c753.782C980.55%2c787.765%2c1012.365%2c813.898%2c1051.601%2c815.858' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1034.992%2c534.447C1107.472%2c536.733%2c1189.033%2c522.602%2c1223.3%2c458.693C1256.501%2c396.773%2c1216.446%2c326.234%2c1178.256%2c267.259C1144.399%2c214.975%2c1097.269%2c169.126%2c1034.992%2c167.896C970.818%2c166.628%2c914.758%2c206.453%2c881.578%2c261.399C847.106%2c318.486%2c833.529%2c389.288%2c866.195%2c447.428C899.429%2c506.578%2c967.179%2c532.308%2c1034.992%2c534.447' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1275.32%2c169.166C1303.848%2c169.389%2c1325.947%2c147.078%2c1339.896%2c122.192C1353.482%2c97.954%2c1358.808%2c68.79%2c1345.144%2c44.596C1331.281%2c20.051%2c1303.504%2c8.402%2c1275.32%2c7.855C1246.018%2c7.286%2c1214.849%2c16.159%2c1200.636%2c41.79C1186.727%2c66.874%2c1197.964%2c96.452%2c1212.471%2c121.195C1226.758%2c145.562%2c1247.074%2c168.945%2c1275.32%2c169.166' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1611.597%2c513.866C1709.514%2c518.002%2c1806.936%2c469.581%2c1852.617%2c382.875C1895.884%2c300.751%2c1865.901%2c203.99%2c1816.141%2c125.629C1770.499%2c53.753%2c1696.739%2c3.737%2c1611.597%2c3.327C1525.755%2c2.914%2c1446.532%2c49.299%2c1403.613%2c123.643C1360.697%2c197.982%2c1363.065%2c288.154%2c1403.438%2c363.903C1446.549%2c444.789%2c1520.021%2c509.998%2c1611.597%2c513.866' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M239.296%2c1351.475C332.15%2c1357.628%2c435.981%2c1346.067%2c485.865%2c1267.509C538.352%2c1184.852%2c516.881%2c1077.926%2c466.195%2c994.152C417.444%2c913.577%2c333.428%2c862.813%2c239.296%2c859.982C139.711%2c856.987%2c33.263%2c891.277%2c-12.541%2c979.754C-55.976%2c1063.655%2c-9.497%2c1159.98%2c43.495%2c1238.198C88.824%2c1305.105%2c158.657%2c1346.132%2c239.296%2c1351.475' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M966.371%2c1008.013C1028.908%2c1008.41%2c1094.485%2c984.208%2c1122.112%2c928.103C1147.697%2c876.144%2c1114.539%2c819.44%2c1083.214%2c770.726C1055.314%2c727.339%2c1017.887%2c688.534%2c966.371%2c685.908C910.408%2c683.056%2c856.909%2c710.34%2c826.899%2c757.662C794.568%2c808.644%2c784.64%2c873.409%2c814.02%2c926.146C844.092%2c980.126%2c904.581%2c1007.62%2c966.371%2c1008.013' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M857.865%2c1186.836C910.391%2c1187.078%2c966.285%2c1178.807%2c995.512%2c1135.163C1027.763%2c1087.004%2c1029.103%2c1023.744%2c1001.048%2c973.026C972.102%2c920.696%2c917.514%2c882.041%2c857.865%2c886.321C803.285%2c890.237%2c772.606%2c943.299%2c746.34%2c991.303C721.542%2c1036.623%2c696.8%2c1089.032%2c722.395%2c1133.907C748.139%2c1179.043%2c805.904%2c1186.597%2c857.865%2c1186.836' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1530.694%2c537.698C1582.206%2c537.916%2c1635.551%2c519.264%2c1660.008%2c473.928C1683.56%2c430.268%2c1663.5%2c379.871%2c1639.149%2c336.652C1614.18%2c292.336%2c1581.356%2c248.958%2c1530.694%2c244.412C1472.439%2c239.185%2c1410.818%2c262.528%2c1382.323%2c313.606C1354.369%2c363.715%2c1371.585%2c424.998%2c1403.262%2c472.841C1431.464%2c515.436%2c1479.609%2c537.482%2c1530.694%2c537.698' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1149'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");    
*/
}

.product-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-width: min-content; 
    justify-content: center;
}


.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 40px 0;
    
}

.product-details-inner {
    height: auto;
    padding: 40px;
    background-color: #f8f8f8c5;
    border-radius: 10px;    
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.255);

}

.trota {
    max-width: 100%;
    max-height: 100%;
}

.product-name {
    font-size: 42px;
    color: #333;
    margin-bottom: 10px;
    word-wrap: wrap;
}

.price {
    font-size: 26px;
    color: #000000;
    margin-bottom: 10px;
}

mark{
  background-color: #ff7f50;
  color: white;
  border-radius: 5px;
  padding: 3px 10px;
  letter-spacing: 1px;
}

.product-description {
    font-size: 18px !important;
    color: #333;
    line-height: 1.6;
    margin: 20px 40px;
}

.buttons-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.button-cart {
    background-color: #ff6900;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 5px;
    min-width: fit-content;
    width: 100%;
  }
  
  .button-cart:hover {
      box-shadow: 0px 2px 11px 3px rgba(0, 0, 0, 0.599);
      color: #252422;
    }
  
  .button-wish{
    background-color: #252422;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 5px;
    width: 100%;
  }

  .button-wish:hover {
    box-shadow: 0px 0px 11px 3px rgba(255, 106, 0, 0.819);
    color: #ff6900;
  }

  .line{
    width: 100%;
    height: 5px;
    border-radius: 50%;
    background-color: black;;
    margin: 20px 0 0 0;
  }

  @media only screen and (max-width: 1200px) {
    .product-details {
        width: 90% ;
    }

    .product-description{
        margin: 20px 0;
    }

    .carousel{
      display: block;
    }
  }

  .card-info{
    margin-bottom: 5px;
  }

  .arrow{
    width: 25px;
    height: 15px;
    padding-right: 5px;
  }

/*-------------------------------------------------------------------*/
.gallery {
  width: 40%;
  margin: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
 
}

.expanded-image-container {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 10px; 
  
}

.expanded-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  aspect-ratio: 4/3.9;
  
}

.rounded{
  border-radius: 20px;
  display: block;
  max-width: 100%;
  max-height: 100%;
  transition: opacity 0.2s ease-in-out;
  border-radius: 20px;
  box-shadow: 8px 10px 15px rgba(0, 0, 0, 0.344);
}

.gallery__row {
  display: flex;
  justify-content: center;
}

.gallery__item {
  margin: 10px;
  cursor: pointer;
  transition: transform .2s;
}

.gallery__item:hover{
  transform: scale(1.03);
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: box-shadow 0.2s ease-in-out;
}

.gallery__item img:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px 15px rgba(0,0,0,0.15);
}
.carousel{
    display: none;
}
