* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Blinker; 
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1234%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M648.375%2c769.55C740.021%2c766.493%2c820.762%2c714.552%2c867.261%2c635.519C914.486%2c555.253%2c925.204%2c456.827%2c880.405%2c375.182C833.957%2c290.533%2c744.888%2c239.44%2c648.375%2c236.608C546.477%2c233.618%2c443.49%2c273.15%2c391.496%2c360.836C338.581%2c450.075%2c347.441%2c563.175%2c402.648%2c651.015C454.515%2c733.539%2c550.959%2c772.799%2c648.375%2c769.55' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M142.639%2c293.405C212.895%2c297.425%2c281.102%2c261.836%2c316.641%2c201.099C352.518%2c139.785%2c352.457%2c61.352%2c312.979%2c2.293C277.022%2c-51.498%2c207.304%2c-61.407%2c142.639%2c-59.208C82.714%2c-57.17%2c21.673%2c-38.435%2c-8.753%2c13.232C-39.568%2c65.559%2c-28.851%2c129.557%2c0.017%2c182.982C30.652%2c239.676%2c78.303%2c289.724%2c142.639%2c293.405' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M116.707%2c902.133C173.066%2c900.07%2c220.195%2c864.023%2c248.502%2c815.245C276.935%2c766.251%2c287.068%2c706.206%2c258.947%2c657.032C230.652%2c607.555%2c173.697%2c585.641%2c116.707%2c584.786C57.95%2c583.904%2c-2.103%2c602.74%2c-33.123%2c652.649C-65.731%2c705.112%2c-64.738%2c772.594%2c-32.935%2c825.549C-2.015%2c877.035%2c56.69%2c904.33%2c116.707%2c902.133' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M682.217%2c283.26C717.58%2c284.376%2c757.743%2c285.71%2c777.533%2c256.382C798.998%2c224.572%2c792.604%2c181.923%2c772.764%2c149.074C753.614%2c117.366%2c719.248%2c97.663%2c682.217%2c98.566C646.643%2c99.433%2c616.432%2c122.283%2c599.006%2c153.309C581.967%2c183.646%2c578.019%2c221.375%2c596.782%2c250.677C614.398%2c278.188%2c649.565%2c282.229%2c682.217%2c283.26' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M404.018%2c1107.154C489.217%2c1109.104%2c586.125%2c1106.778%2c631.208%2c1034.458C677.978%2c959.433%2c652.703%2c861.476%2c602.562%2c788.661C558.87%2c725.211%2c481.055%2c704.959%2c404.018%2c704.532C326.014%2c704.099%2c244.409%2c721.213%2c201.623%2c786.437C154.958%2c857.575%2c148.749%2c952.507%2c194.154%2c1024.456C237.163%2c1092.609%2c323.45%2c1105.31%2c404.018%2c1107.154' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M576.377%2c1169.786C627.053%2c1167.653%2c673.772%2c1141.894%2c698.695%2c1097.719C723.2%2c1054.286%2c719.916%2c1001.801%2c695.772%2c958.166C670.767%2c912.975%2c627.965%2c879.137%2c576.377%2c876.657C520.333%2c873.962%2c464.498%2c897.734%2c435.289%2c945.641C404.939%2c995.418%2c403.764%2c1059.487%2c434.821%2c1108.826C464.153%2c1155.426%2c521.363%2c1172.102%2c576.377%2c1169.786' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1962.186%2c1465.637C2074.826%2c1462.733%2c2149.983%2c1361.919%2c2203.798%2c1262.924C2254.559%2c1169.545%2c2283.848%2c1060.395%2c2233.305%2c966.898C2180.587%2c869.378%2c2072.995%2c819.257%2c1962.186%2c815.979C1844.717%2c812.504%2c1720.311%2c848.082%2c1661.78%2c949.989C1603.421%2c1051.597%2c1639.007%2c1174.716%2c1697.991%2c1275.962C1756.481%2c1376.361%2c1846.031%2c1468.631%2c1962.186%2c1465.637' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1158.595%2c945.593C1254.653%2c948.071%2c1347.689%2c904.779%2c1397.92%2c822.864C1450.454%2c737.193%2c1460.851%2c626.077%2c1406.268%2c541.696C1355.212%2c462.769%2c1252.509%2c448.839%2c1158.595%2c452.892C1073.172%2c456.579%2c989.96%2c488.628%2c945.377%2c561.588C898.895%2c637.656%2c896.469%2c733.107%2c939.743%2c811.044C984.298%2c891.287%2c1066.843%2c943.226%2c1158.595%2c945.593' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1289.216%2c433.456C1387.917%2c441.935%2c1502.095%2c427.547%2c1550.719%2c341.236C1598.855%2c255.791%2c1546.571%2c154.689%2c1492.264%2c73.027C1445.09%2c2.091%2c1374.392%2c-53.512%2c1289.216%2c-51.994C1206.306%2c-50.516%2c1138.134%2c7.304%2c1098.33%2c80.049C1060.243%2c149.657%2c1057.746%2c232.311%2c1095.455%2c302.125C1135.198%2c375.705%2c1205.896%2c426.298%2c1289.216%2c433.456' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M107.882%2c872.545C146.583%2c872.975%2c189.957%2c868.255%2c209.428%2c834.806C228.975%2c801.227%2c212.757%2c760.475%2c192.372%2c727.398C173.23%2c696.338%2c144.365%2c670.457%2c107.882%2c670.036C70.757%2c669.607%2c39.069%2c693.585%2c19.941%2c725.406C0.13%2c758.364%2c-9.562%2c799.587%2c10.166%2c832.595C29.515%2c864.969%2c70.169%2c872.126%2c107.882%2c872.545' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1818.841%2c1073.805C1872.745%2c1072.923%2c1928.448%2c1057.382%2c1956.096%2c1011.1C1984.344%2c963.814%2c1974.754%2c905.426%2c1948.28%2c857.124C1920.562%2c806.552%2c1876.481%2c762.548%2c1818.841%2c760.676C1758.401%2c758.713%2c1703.899%2c795.669%2c1673.971%2c848.216C1644.354%2c900.217%2c1641.245%2c965.366%2c1673.582%2c1015.721C1703.783%2c1062.75%2c1762.957%2c1074.719%2c1818.841%2c1073.805' fill='rgba(255%2c 105%2c 0%2c 0.36)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1234'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
    margin: 20px;
    justify-content: center;
    min-width: min-content; 
    margin: 0;
    
    
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 15px;

    DOBAVQM ZA SASHO 😘🥰
    */
    
}

.product-item {
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px;
    margin:20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    cursor: pointer; 
    min-width: auto;
    width: 100%; 
    height: auto;
    max-width: 350px; 
    max-height: 1000px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out,transform .2s;
}

.product-item:hover{
    transform: scale(1.01);
    box-shadow: 5px 10px 15px rgba(0,0,0,0.15);
}

.product-item h2{
    font-size: 20px;
    margin: 0 0 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;/**/
    overflow: hidden;
    color: blueviolet;
}

.product-item p{
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.product-item p:last-child {
    margin-top: 10px;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 2.5/3;
    object-fit: contain;
}

.product-link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: auto;
}


.card-price{
    color: coral;
    font-size: 18px !important;
    padding-top: 5px;
    font-family: 'Blinker';
    font-weight: bold;
}

.card-info{
    color:black;
}

.full-card{
    width: 100px;
}

.buttons-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}

.button-cart {
    background-color: #ff6900;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 5px;
    min-width: fit-content;
  }
  
  .button-cart:hover {
    box-shadow: 0px 3px 19px 0px rgba(0, 0, 0, 0.599);
    color: #252422;
  }
  
  .button-wish{
    background-color: #252422;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border-radius: 5px;
    min-width: fit-content;
  }

  .button-wish:hover {
    box-shadow: 0px 2px 20px 1px rgba(255, 106, 0, 0.819);
    color: #ff6900;
  }
 