@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

body{
    background-image: url("images/account bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel{
    background-color: #f6f6f6;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 35px;
    border-radius: 5px;
}

input[type=text],
input[type=number]{
    padding: 15px 20px;
    margin: 20px;
    display: block;
    font-family: Roboto;
}